a {
    text-decoration: none;
}

img {
    width: 100%;    
}

.creditos {
    font-size: .7rem;
    color: #777;
}

.creditos a {
    color: #bbb;
}

h2 {
    color: #fff;
    padding: 1rem 0 1rem 0;
}

p {
    color: #777;
    text-align: justify;
}