h1 {
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 8rem;
}