<div class="card-container">
    <div class="image">
        <img src="https://img.freepik.com/fotos-gratis/mulher-curtindo-um-fone-de-ouvido-de-rv_53876-94581.jpg?w=996&t=st=1707967041~exp=1707967641~hmac=399b8eedd402e9c6de39c52e3a12122d60fe224495d6a0038be9ba6b995db711" alt="Ilustração da notícia secundária">
    </div>
    <div class="text">
        <span class="creditos"><a href="https://br.freepik.com/fotos-gratis/mulher-curtindo-um-fone-de-ouvido-de-rv_11298794.htm#query=tecnologia&position=9&from_view=search&track=sph&uuid=9940e1cc-7cf6-43f8-822f-3ac82429052c#position=9&query=tecnologia">Imagem de rawpixel.com</a> no Freepik</span>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error ipsum iusto saepe aliquid.</p>
    </div>
</div>