<header>
    <app-menu-bar></app-menu-bar>
    <app-menu-title></app-menu-title>
</header>

<section class="articles-container">

    <div class="box-left">
        <app-big-card></app-big-card>
    </div>

    <div class="box-right">
        <app-small-card></app-small-card>

        <div class="separator">
            <hr>
        </div>
        
        <app-small-card></app-small-card>

        <div class="separator">
            <hr>
        </div>

        <app-small-card></app-small-card>
    </div>

</section>