<app-menu-title></app-menu-title>
<section class="articles-container">

    <div class="box-left">
        <app-big-card
            id="1"
            imageUrl="https://img.freepik.com/fotos-gratis/microchip-em-extreme-closeup_125540-4902.jpg?w=900&t=st=1707960668~exp=1707961268~hmac=1230b4acc5036e2fbc1924024a69a0270e65ae81d0b6dbf1e506407d04417705"
            creditsUrl="https://br.freepik.com/fotos-gratis/microchip-em-extreme-closeup_82603993.htm#query=tecnologia&position=7&from_view=search&track=sph&uuid=9940e1cc-7cf6-43f8-822f-3ac82429052c;"
            title="AMD anuncia novo Threadripper™"
            shortContent="Desde a sua criação, as CPUs Ryzen™ Threadripper™ fornecem um desempenho de renderização impressionante. O novo Threadripper™ PRO Série 5000 WX leva isso ainda mais longe."
        >
        </app-big-card>
    </div>

    <div class="box-right">
        <app-small-card
            id="2"
            imageUrl="https://img.freepik.com/fotos-gratis/conceito-de-colagem-de-html-e-css-com-pessoa_23-2150062008.jpg?w=1380&t=st=1708013882~exp=1708014482~hmac=642ad119b7cab555a57558db3340595180700d4916c30053b655b6361993d26b"
            creditsUrl="https://br.freepik.com/fotos-gratis/conceito-de-colagem-de-html-e-css-com-pessoa_36295457.htm#query=inform%C3%A1tica&position=6&from_view=search&track=sph&uuid=641ad7f8-a7b7-4d43-8ded-060e314289cd"
            shortContent="Estudos mostram como a sobrecarga de informações que vivenciamos hoje impactam no nosso cotidiano."
        ></app-small-card>

        <div class="separator">
            <hr>
        </div>
        
        <app-small-card
            id="3"
            imageUrl="https://img.freepik.com/fotos-gratis/conceito-de-rpa-com-tela-de-toque-de-mao-embacada_23-2149311914.jpg?w=1380&t=st=1708016665~exp=1708017265~hmac=17a617882991df1503befecd3ec10eb937b9538c3de816a803f5cbbd79357dbf"
            creditsUrl="https://br.freepik.com/fotos-gratis/conceito-de-rpa-com-tela-de-toque-de-mao-embacada_23992698.htm#query=inform%C3%A1tica&position=12&from_view=search&track=sph&uuid=641ad7f8-a7b7-4d43-8ded-060e314289cd#position=12&query=inform%C3%A1tica"
            shortContent="Criptomoedas se tornarão o novo padrão transacional do comércio internacional em um futuro próximo, dizem economistas."
        ></app-small-card>

        <div class="separator">
            <hr>
        </div>

        <app-small-card
            id="4"
            imageUrl="https://img.freepik.com/fotos-gratis/jovens-web-designers-masculinos-trabalhando-em-um-computador_1303-19453.jpg?w=1380&t=st=1708017147~exp=1708017747~hmac=18db00f132e77f5a2ec1dc5ba742a5b82cbd01034d36fdac3017aaaaece1a878"
            creditsUrl="https://br.freepik.com/fotos-gratis/jovens-web-designers-masculinos-trabalhando-em-um-computador_6427079.htm#query=inform%C3%A1tica&position=37&from_view=search&track=sph&uuid=e1ddfe94-3452-48fb-b15d-c26323db511d"
            shortContent="Estudo de empresas de RH mostram que Big Techs estão abandonando esquema de trabalho home office."
        ></app-small-card>
    </div>

</section>