<div class="header-menu">
    
    <nav class="nav-menu">
        <ul>
            <div class="logo">
                <img src="https://hermes.dio.me/assets/diome/logo.png" alt="Logo">
            </div>
            <a href="#"><li>HOME</li></a>
            <a href="#"><li>ABOUT</li></a>
            <a href="#"><li>FAQ</li></a>
            <a href="#"><li>CONTACT</li></a>
        </ul>
    </nav>

    <nav class="social-medias-menu">
        <ul>
            <a href="#"><li><fa-icon [icon]="['fab', 'twitter']"></fa-icon></li></a>
            <a href="#"><li><fa-icon [icon]="['fab', 'instagram']"></fa-icon></li></a>
            <a href="#"><li><fa-icon [icon]="['fab', 'linkedin']"></fa-icon></li></a>
            <a href="#"><li><fa-icon [icon]="['fab', 'github']"></fa-icon></li></a>
        </ul>
    </nav>
</div>